@inherits LayoutComponentBase
@inject IToastMessageService _toastMessageService


<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main class="m-0 p-0" style="min-width:350px;">


        <div class="top-row justify-content-end" style="z-index: 2000">
            <a href="authentication/login" class="nav-link" >Login</a>
            <a href="authentication/register" class="nav-link" >Register</a>
        </div>

            @Body
            
        <div class="position-fixed bottom-0 end-0 p-3" style="z-index: 1000">
                @foreach (var message in Messages)
                {
                    <ToastMessageComponent Message="message" OnCloseEvent="CloseEventHandler" />
                }
            </div>

        
    </main>
</div>
