@inject ICategoryService _categoryService
@inject IToastMessageService _toastService;

<div class="top-row ps-3 navbar navbar-dark" style="min-width:350px;">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Blazing Shop</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <i class="bi bi-shop nav-menu-icon"></i>
                Home
            </NavLink>
        </div>
        <hr />
        @foreach (var category in Categories)
        {
            <div class="nav-item px-3">
                @{
                    var link = $"/product/category/{@category.Url}";
                }
                <NavLink class="nav-link " href="@link">
                    <span class="@category.Icon nav-menu-icon" aria-hidden="true"></span> @category.Title
                </NavLink>
            </div>
        }
        <div class="nav-item px-3">
            <NavLink class="nav-link " href="/admin">
                <span class="bi bi-person-square nav-menu-icon" aria-hidden="true"></span> Admin
            </NavLink>
        </div>
    </nav>
</div>
