.picker {
    width: 100%;
    border: 1px solid #ddd;
    height:100%;
    border-radius:5px;
}

    .picker a {
        padding: 0, 3px;
        border: 1px solid #ddd;
    }

.picker-button-icon-value {
    position: relative;
    top: 0px;
    left: 4px;
    font-size: 16px;
    color: #555;
}

.picker-button-icon-name {
    position: relative;
    top: 0px;
    left: 3px;
    display: inline-block;
    font-size: 16px;
    text-transform: capitalize;
}



.picker button:hover {
    color: purple;
}

.picker-icon-value {
    color: #777;
    display: inline-block;
    font-size: large;
    margin: 0 0px 0px 0px;
    padding: 2px 5px 0px 5px;
    border: 0;
    transition: transform 0.2s;
}

    

    .picker-icon-value:hover {
        transform: scale(1.5);
        z-index:1000;
        color:purple;
        background-color:white;
        box-shadow: #333 0px 0px 2px 0px;
    }
        .picker-icon-value:hover + .picker-icon-name {
            display: block;
            
        }


.picker-icon-name {
    text-transform: capitalize;
    position: absolute;
    font-size: 14px;
    padding: 0;
    right: 10px;
    top: -25px;
    display: none;
    color: #777;
    z-index: 1000;
    background-color: transparent;
}


.picker-menu {
}

.picker-list {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    flex-direction: row;
    height: 300px;
    overflow: auto;
}


.picker-item {
    
}

.picker-value {
}

.picker-name {
}
