<div class="loader-wrapper">
    <div class="wrapper">
        <div class="spinner-border loader" role="status"></div>
        <div class="loader-text">
            <span>loading ...</span>
        </div>
    </div>


</div>